*{
    font-family: 'Noto Serif JP', serif;
    
}
h1{
   text-align: center; 
   color: black;
   background-color: whitesmoke;
}
.hell{
    text-align: center; 
    color: black;
    background-color: whitesmoke;  

}
.hel{
    text-align: center;
    color: cadetblue;
}

